body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  cursor: none;
}

@font-face {
  font-family: 'Type Wheel';
  src: url('/fonts/TypeWheel.woff2') format('woff2'),
       url('/fonts/TypeWheel.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Windows Command Prompt';
  src: url('/fonts/Windows-Command-Prompt.woff2') format('woff2'),
       url('/fonts/Windows-Command-Prompt.woff') format('woff');
  font-display: swap;
}